// ==========================================================================
// Base
// ==========================================================================

html {
	font-size: var(--fz-html);
}

body {
	min-width: 320px;
	font-family: var(--ff-base);
	font-weight: var(--fw-base);
	font-size: var(--fz-base);
	line-height: var(--lh-base);
	color: var(--c-base);
}

a {
	color: inherit;
	text-decoration: underline;

	@media (hover: hover) {
		&:where(:hover, :focus-visible) {
			text-decoration: none;
		}
	}

	&[href^='tel'] {
		text-decoration: none;
	}
}

.level-1,
h1,
.level-2,
h2,
.level-3,
h3,
.level-4,
h4,
.level-5,
h5,
.level-6,
h6 {
	margin-bottom: calc(var(--lh-base) * 0.5em);
}

.level-1,
h1 {
	font-size: 3rem;
}

.level-2,
h2 {
	font-size: 2.4rem;
}

.level-3,
h3 {
	font-size: 2.2rem;
}

.level-4,
h4 {
	font-size: 2rem;
}

.level-5,
h5 {
	font-size: 1.8rem;
}

.level-6,
h6 {
	font-size: 1.6rem;
}

p,
ul,
ol,
dl,
hr,
table,
blockquote {
	margin-bottom: calc(var(--lh-base) * 0.5em);
}

h1[class],
h2[class],
h3[class],
h4[class],
h5[class],
h6[class],
h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child,
p:last-child,
ul:last-child,
ol:last-child,
dl:last-child,
table:last-child,
blockquote:last-child {
	margin-bottom: 0;
}

/* width */
::-webkit-scrollbar {
	width: 4px;
	height: 4px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
	background: rgba(206, 206, 206, .4);
	border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
	background: var(--c-grey-2);
	border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
	background: var(--c-grey-5);
  }