// ==========================================================================
// Variables
// ==========================================================================

:root {
	--fz-html: 62.5%;
	--fz-base: 1.4rem;
	--fw-base: 400;
	--lh-base: 1.2;
	--ff-base: 'Inter', Helvetica, Arial, sans-serif;
	--c-base: #000;

	//colors
	--c-white: #fff;
	--c-primary: #172B4D;
	--c-grey: #f1f1f1;
	--c-grey-2: #cecece;
	--c-grey-3: #faf7f7;
	--c-grey-4: #f7f7f7;
	--c-grey-5: #aeaeae;
	--c-grey-6: #dadada;
	--c-grey-7: #707070;
	--c-blue: #0066ff;
	--c-danger: #dc3545;

	//shadows
	--container-box-shadow: 0px 2px 1px rgba(9, 30, 66, 0.25), 0px 0px 2px rgba(9, 30, 66, 1);
}

$breakpoints: (
	mobile-small: 374px,
	mobile: 767px,
	tablet: 1023px,
	small-desktop: 1199px,
);
