// ==========================================================================
// Kanban Task
// ==========================================================================

.kanban-task {
    --kanban-task-background-color: var(--c-white);
    --kanban-task-box-shadow: inset 0px 0px 0px 1px var(--c-grey-5);
    --kanban-task-box-shadow-hover: inset 0px 0px 0px 2px var(--c-blue);
    --kanban-task-border-radius: .6rem;
    --kanban-task-padding: .5rem 1rem;
    --kanban-task-delete-button-visibility: hidden;
    
    background-color: var(--kanban-task-background-color);
    box-shadow: var(--kanban-task-box-shadow);
    padding: var(--kanban-task-padding);
    border-radius: var(--kanban-task-border-radius);
    
    width: 100%;
    height: 44px;
    display: flex;
    align-items: center;
    
    &:hover {
        --kanban-task-delete-button-visibility: visible;
        --kanban-task-box-shadow: var(--kanban-task-box-shadow-hover);
    }
    
    &:has(input:focus) {
        --kanban-task-box-shadow: inset 0px 0px 0px 1px var(--c-grey-5);
    }
    
    &.is-dragging {
        opacity: .5;
    }
}

// Kanban Task / Button Delete
// ==========================================================================

.kanban-task__button-delete {
    visibility: var(--kanban-task-delete-button-visibility);
}

// Kanban Task / Title
// ==========================================================================

.kanban-task__title {
    padding: 0.6rem 0.8rem;
    line-height: 1.3rem;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    border-radius: .4rem;

    &:hover {
        background-color: var(--c-grey);
    }
}